@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html{
  font: 400 16px/1.4 'Roboto', sans-serif;
}
/*$color-text-dark: #1A212C;
$color-site-bg: #1D7872;
$color-site-title: #fff;
$color-card-bg: #71B095; 
$color-card-header-bg: #DEDBA7;
$color-estimates-bg: #DEDBA7;
$color-input-bg: #fff;
$color-input-focus-bg: #eee;*/

$color-text-dark: #1A212C;
$color-site-bg: #fff;
$color-site-header-bg: #1B333D;
$color-site-title: #1B333D;
$color-section-title: #1B333D;
$color-card-bg: #fff; 
$color-card-header-bg: #87D37C;
$color-estimates-bg: #1B333D;
$color-input-bg: #eee;
$color-input-focus-bg: #eee;
$color-label: #666;

$content-width:1000px;
$content-max-width: 90%;

$break-medium:800px;

body{
  background: $color-site-bg;
  color: $color-text-dark;
}

.site-header{
  background:$color-site-header-bg;
  background:#eee;
  color:#555;
  display:flex;
  align-items:center;
  height:50px;
  margin-bottom:1rem;

  .branding{
    max-width:$content-max-width;
    width:$content-width;
    margin:auto;
    text-transform:uppercase;
    letter-spacing:.08em;
    font-size:.875rem;
  }

}

.wrapper{
  margin:auto;
  width:1000px;
  max-width:90%;
  padding:2rem 1rem;
}


.page-title{
  font-size:1.4rem;
  margin-bottom:2rem;
  font-weight:700;
  letter-spacing:.05em;
  color: $color-site-title;
}

.section-title{
  margin-bottom:1rem;
  color:$color-section-title;
  font-size:1rem;
  letter-spacing:.04em;
}

label{
  display:block;
  margin-bottom:.5rem;
  font-weight:400;
  text-transform:uppercase;
  color: $color-label;
  letter-spacing:.08em;
  font-size:.875rem;
}

input{
  display:block;
  margin-bottom:1rem;
  border:1px solid transparent;
  background:$color-input-bg;
  padding:.5rem;
  width:100%;
  box-sizing:border-box;
  border-radius:2px;
  &:focus{
    background:$color-input-focus-bg;
    border: 1px solid #ccc;
  }
}

.card-listing{
  padding-bottom:3rem;
  display:flex;
  justify-content: space-between;
  flex-flow:row wrap;


}

.card{
  /* border:1px solid $color-card-header-bg; */
  box-sizing:border-box;
  width:100%;
  margin-bottom:2rem;
  border-radius:4px;
  overflow:hidden;
  background:$color-card-bg;
  box-shadow:0 4px 8px rgba(0,0,0,.2);

  @media all and (min-width: $break-medium){
    width:30%;
    margin-bottom:0;
  }

  .card-header{
    background:$color-card-header-bg;
    padding:1rem;
    font-size:1.4rem;
    color:#fff;
    label{
      color:lighten($color-card-header-bg,30%);
    }
  }
  .card-body{
    padding:1rem;
  }
}

.estimates{
  display:flex;
  justify-content:space-between;
  background:$color-estimates-bg;
  color:#fff;
  border-radius: 4px;
  .estimate{
    font-size:2rem;
    width:30%;
    box-sizing:border-box;
    padding:2rem 1rem;
    label{
      color:#fff;
    }
  }
}
